*{
    color: white;
    text-shadow: 1px 1px 2px pink;
}
@media screen and (min-width: 480px) {

    header{
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .header__list{
        display: inherit;
        flex-direction: row;
        list-style: none;
    }
    .header__list__item{
        margin: 2rem;
    }

   
    .body__top {
        background-image: url(./images/bg.jpg);
        background-color: rgba(0, 0, 0, 0.649);
        background-blend-mode:multiply; 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30rem;
               
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main__welcome-screen{
        width: 70%;
    }
  }




/* ska läggas in som källa i html
  <a href="https://www.flaticon.com/free-icons/art" title="art icons">Art icons created by Freepik - Flaticon</a>*/